
$primary-color: #007bff;
$secondary-color: #6f42c1;
$dark: #000000;
$light: #ffffff;

$bg-primary-color: #0d6efd;
$bg-success-color: #198754;
$bg-danger-color: #dc3545;

$main-font: "Roboto, sans-serif";
//map -> Key => value
$colors: (
    "primary": #007bff,
    "success": #2cde1c,
    "danger": #d11d1d,
    "info": #00d5ff,
    "warning":#fbff00
);

@debug map-get($colors, 'primary');
@debug map-has-key($colors, 'primary');
@debug map-remove($colors, 'primary');
@debug map-get($colors, 'primary');